/******************************************
To Do:
- header - få logo og shop ud i siderne.
- farver + hover m.m. på header
- link farver
- Insta tag

- flyt footer på jewelry

- padding på singleview

- Retailers
- About
******************************************/


/*****************************
******************************
******************************
******************************
******************************
**** GENERELT - START ********/
* {
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}


/*** GENERELT - SLUT *********
******************************
******************************
******************************









/*****************************
******************************
******************************
**** FONTE - START ***********/

h1 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 2rem;
}

h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 1.5rem;
}

h4 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 1.5rem;
}

p {
    font-family: roboto;
    font-size: 18.5px;
    line-height: 1.6rem
}


/*** FONTE - SLUT ************
******************************
******************************
*****************************/





/*****************************
******************************
******************************
** MARGIN & PADDING - START */

/****** Boxe *************/

.child,
.child_forside {
    padding: 50px 20px 50px;
}

/****** Fonte ***********/

h1 {
    margin: 30px;
    display: flex;
    text-align: left;
}

h2 {
    padding-bottom: 15px;
}

/****** Individuelt *****/

.instagram {
    padding: 40px 20px;
}

#terms .child:nth-child(1) {
    padding-top: 0;
}

#about .parent:nth-child(1) .child:nth-child(1),
#about .parent:nth-child(3) .child:nth-child(1),
#about .parent:nth-child(2) .child:nth-child(2) {
    padding-top: 0;
}

#retail .child:nth-child(1) {
    padding-top: 0;
}

@media (min-width: 600px) {

    /****** Boxe ************/
    .parent {
        padding: 20px 10px;
    }

    .child {
        padding: 60px 20px 60px;
    }

    .child_forside {
        padding: 80px 30px;
    }


    /****** Individuelt *****/
    #about h2 {
        padding-top: 50px;
    }
}

/* MARGIN & PADDING - START **
******************************
******************************
*****************************/












/*****************************
******************************
**** HEADER - START ***ØØ****/
#header_logo_first {
    display: none;
}

#kurv_web {
    display: none;
}

.parent_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child_header {
    flex-basis: 10px;
    flex-grow: 1;
}

.logo_img {
    width: 150px;
    height: auto;
}

.kurv {
    height: 40px;
    width: 50px;
    padding: 22px;
}

#burgermenu {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 20px;
    height: 30px;
}

#kurv {
    display: flex;
    justify-content: flex-end;
}

header {
    background-color: #faf3ea;
    max-width: 1400px;
}

#forside header {}

header a {
    text-decoration: none;
    font-size: 1.6em;
    /*text-transform: uppercase;*/
    color: black;
    padding: 0px 12px;
    font-family: roboto;
    line-height: 60px;
}

header a:hover {
    color: #cecece;
}



#menu {
    max-width: 1200px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    background-color: #faf3ea;
    width: 100vw;
}

.hidden {
    display: none;
    transform: translateX(-100%);
}

#burgermenu img {
    width: 30px;
}

nav {
    align-items: center;
    z-index: 100;
    opacity: 95%;
    width: 100vw;
}

nav li:first-child {
    padding-top: 20px;
}

nav li:last-child {
    padding-bottom: 20px;
}



/********* mediaquery *********/


@media (min-width: 600px) {
    #header_logo_midten {
        display: flex;
        justify-content: center;
    }

    .logo_img {
        width: 200px;
    }
}

@media (min-width: 1100px) {


    /*header {
        z-index: 100;
         !important !
    }

    .css_splash {
        margin-top: -110px;
        z-index: 2;
    }

*/


    .fyld {
        display: none;
    }

    #header {
        max-width: 1400px;
        display: flex;
        align-items: center;
    }

    #header_logo_midten {
        display: flex;
    }

    #kurv {
        display: none;
    }

    #kurv_web {
        display: flex;

    }


    .forside_parent {
        display: flex;
        justify-content: flex-end;
    }

    #burgermenu {
        display: none;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        max-width: 400px;
    }

    nav {
        /*position: static;*/
        background-color: #F5E8D7;
        opacity: 100%;
        width: 100%;
    }

    nav li:first-child {
        padding-top: 0;
    }

    nav li:last-child {
        padding-bottom: 0;
    }

    header a {
        font-size: 1em;
        line-height: normal;
    }
}


/*** HEADER - SLUT ***********
******************************
*****************************/



















/*****************************
******************************
******************************
******************************
******************************
**** FLEX-BOX - START *******/

.parent_forside,
.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex-grow: 1;
    flex-basis: 800px;
}

.parent:nth-child(1),
.parent:nth-child(3) {
    flex-wrap: wrap-reverse;
}

.parent_forside:nth-child(1) {
    flex-wrap: wrap-reverse;
}

@media (min-width: 600px) {
    .parent {
        display: flex;
        flex-wrap: wrap;
    }

    .child {
        flex-basis: 100px;
        flex-grow: 1;
    }

    .parent:nth-child(1),
    .parent:nth-child(3) {
        flex-wrap: wrap;
    }


}


@media (min-width: 800px) {
    .parent_forside:nth-child(2) {
        flex-wrap: wrap;
    }

    #forside .child {
        flex-basis: 100px;
        flex-grow: 1;
    }

    #forside .child_billede {
        flex-basis: 100px;
        flex-grow: 1;
        max-height: 700px
    }
}

/*** FLEX-BOX - SLUT *********
******************************
******************************
******************************
******************************
*****************************/











/*****************************
******************************
******************************
******************************
******************************
**** SPLASH - START **********/

/***********************************/
/**** placering af splash video ****/

.css_splash {
    height: 95vh;
    /*position: relative;*/
}



@media (min-width: 600px) {
    .css_splash {
        max-height: 100vh;
    }
}

.css_splash_video_container {
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.css_splash_video {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.video {
    display: none;
}

.css_splash {
    background-image: url(img/baggrundsbilledeforside.gif);
    background-size: cover;
}


@media (min-width: 700px) {
    .video {
        display: block;

    }

    .forside_txt {
        display: none;
    }

    .overlay {
        top: 80vh;
    }
}

/***********************************/
/**** placering af pil og logo *****/

.overlay {
    position: absolute;
    top: 85vh;
    left: 44%;
    width: 10%;
    height: 10%;
}

.forside_txt {
    position: absolute;
    left: 10vh;
    top: 60vh;
    width: 70%;
}

/* Animationen på pil */
.a-up-down {
    animation: k-up-down 1s infinite alternate;
}

@keyframes k-up-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}



/*** SPLASH - SLUT ***********
******************************
******************************
******************************
******************************
******************************
******************************
******************************
******************************
******************************
******************************
**** FORSIDE - START ********/


#forside .child {
    flex-basis: 100px;
    flex-grow: 1;
}

#forside .child_billede:nth-child(1) {
    background-image: url(img_video/forside_kroeller.jpg);
    background-size: cover;
    background-position: right;
}

#forside .child_billede:nth-child(2) {
    background-image: url(img_video/amal.jpg);
    background-size: cover;
}

#forside .child_billede {
    height: 400px;
    width: 100vw;
}

#forside .child:nth-child(2) {
    background-color: #c9cdc8;
}

#forside .child:nth-child(1) {
    background-color: #acb3b7;
}

.child_billede img {
    display: none;
}


/********** GRID ************/

.instagram {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "oeverst_venstre oeverst_hoejre"
        "nederst_venstre nederst_hoejre";
    grid-template-rows: 1fr;
}

.box1 {
    grid-area: oeverst_venstre;
}

.box2 {
    grid-area: oeverst_hoejre;
}

.box3 {
    grid-area: nederst_venstre;
}

.box4 {
    grid-area: nederst_hoejre;
}

/******** INSTA TAG *********/

#forside .wp-block-group__inner-container {
    display: flex;
    justify-content: center;
}


.insta_child {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.insta_child:nth-child(2) {
    padding: 0 0 60px 20px;
}

.insta_child svg {
    width: 26px;
    height: 26px;
}

/***** KNAPPER *******/

#forside .wp-block-button__link {
    background-color: none;
    border: 1px solid black;
    justify-content: center;
    padding: 10px;
    font-family: roboto;
}

#forside .child p {
    margin-bottom: 30px;
    text-align-last: left;
}



/* WEB VERSION */

@media (min-width:600px) {


    /*
    #forside h2 {
        text-align-last: center;
    }
*/

    h1 {
        display: flex;
        justify-content: center;
    }

    /*
    #forside .child p {
        margin-bottom: 30px;
        text-align-last: inherit;
        margin: 0 auto;
    }

    #forside .wp-block-button__link {
        display: flex;
        width: 150px;
        margin-top: 30px;
        justify-content: center;
        align-content: center;
    }
*/



    #forside .child_billede {
        height: 700px
    }

    .instagram {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "venstre midt_v midt_h hoejre";
        grid-template-rows: 1fr;
        padding: 120px 20px 20px;
    }

    .box1 {
        grid-area: venstre;
    }

    .box2 {
        grid-area: midt_v;
    }

    .box3 {
        grid-area: midt_h;
    }

    .box4 {
        grid-area: hoejre;
    }
}

/*** FORSIDE - SLUT **********
******************************
******************************
******************************
******************************
*****************************/










/*****************************
******************************
******************************
******************************
******************************
**** ABOUT - START **********/


#about .parent:nth-child(1) {
    background-color: antiquewhite;
}

#about .parent:nth-child(3) {
    background-color: beige;
}


/*** ABOUT - SLUT ************
******************************
******************************
******************************
******************************
*****************************/


/*****************************
******************************
******************************
******************************
******************************
**** JEWELRY - START ********/
#jewelry_body h2 {
    font-size: 1.6rem;
}

#jewelry_body .filter_knapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20vw 20px;
}

#jewelry_body .filter {
    flex-basis: 800px;
    flex-grow: 1;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    padding: 8px;
    font-family: roboto;
    margin: 5px;

}



@media(min-width: 600px) {
    #jewelry_body .filter_knapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 20vw 20px;
    }

    #jewelry_body .filter {
        flex-basis: 100px;
        flex-grow: 1;
        max-width: 20vw;
    }
}



@media(min-width: 700px) {
    #jewelry_section {
        height: 100vh;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;

    }

    #jewelry_section img {
        height: 35vh;
    }

    #jewelry_section h2,
    h3,
    p {
        padding: 12px;
        margin-left: -11px;
    }

}



#jewelry_body .link {
    text-decoration: none;
    font-family: roboto;
    text-decoration-color: black;
    border: 3px solid black;
    justify-content: center;
    padding: 8px;
}

#jewelry_body .link,
#jewelry_body a,
#jewelry_body a:visited,
#jewelry_body a:hover,
#jewelry_body a:active {
    color: inherit;
}

#jewelry_body .smykker_template {
    margin-bottom: 40px;
}

#jewelry_body .pris {
    margin-bottom: 30px;
}



/*** JEWELRY - SLUT **********
******************************
******************************
******************************
******************************
*****************************/



/*****************************
******************************
******************************
******************************
******************************
**** BLOG - START ***********/



#blog main img {
    height: 35vh;
}


#blog main li {
    display: block;
}

#blog main ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


#blog main img {
    max-width: 70vw;
    margin: 30px 0 30px;
}


@media(min-width: 600px) {
    #blog main .blog_indhold {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;

    }

    #blog main li {
        display: block;


    }

    #blog main img {
        max-width: 70vh;
        margin: 30px 0 30px;

    }
}


#blog main a {
    text-decoration: none;
    font-family: roboto;
    text-decoration-color: black;
    border: 2px solid black;
    justify-content: center;
    padding: 8px;
}

#blog main,
#blog main a,
#blog main a:visited,
#blog main a:hover,
#blog main a:active {
    color: inherit;
}


#blog main .wp-block-latest-posts__post-excerpt {
    margin-top: 20px;
    font-family: roboto;
}

#blog h3 {
    text-align: left;
    font-size: 15px;
    padding: 0 20px;
}

#blog main li {
    margin: 0;
}

main #blog_section {
    display: flex;
    justify-content: center;
    padding: 10px 10vw;
}

@media (min-width: 600px) {
    #blog_section {
        padding: 10px 10vw;
    }

    #blog h3 {
        text-align: center;
    }
}



/**** BLOG - SLUT ************
******************************
******************************
******************************
******************************
*****************************/







/*****************************
******************************
******************************
******************************
******************************
**** SINGLE VIEW - START ****/


#single .link {
    text-decoration: none;
    font-family: roboto;
    text-decoration-color: black;
    border: 3px solid black;
    justify-content: center;
    padding: 8px;
}

#single .link,
#single a,
#single a:visited,
#single a:hover,
#single a:active {
    color: inherit;
}

#single #parent {
    display: flex;
    flex-wrap: wrap;
}

#single .parent {
    flex-wrap: wrap;
}

#single .kort_beskrivelse {
    margin-bottom: 40px;
}

#single .varenummer,
#single .pris {
    margin-bottom: 20px;
}

/*** SINGLE VIEW - SLUT ******
******************************
******************************
******************************
******************************
*****************************/





/*****************************
******************************
******************************
******************************
******************************
****** CONTACT - SLUT *******/
h1 {
    padding-bottom: 0%;
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}

#info {
    box-shadow: 0 0 5px #838383;
    display: flex;
    flex-direction: row;
    margin: 40px auto 40px auto;
    width: 80vw;
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
}


#formular {
    padding: 20px;
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    flex-grow: 3;
}

#formular input,
#formular button {
    width: 90%;
    color: #9d9d9d;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 3px #d1d1d1;
}

#formular p {
    font-size: 0.8rem;
    padding: 10px;
}

#formular button {
    background-color: var(--footer);
    color: cadetblue;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: var(--text-font);
    cursor: pointer;
    width: 96%;
}

#sidebar {
    padding: 20px;
    background-color: var(--light-brown);
    width: 40%;
    flex-basis: 200px;
    flex-grow: 2;
}

.contact_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
}

.contact_info p {
    margin: auto 1px;

}


/*_MEDIA QUERIES_*/


@media only screen and (max-width: 440px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 360px) {
    h2 {
        font-size: 1rem;
    }

    #info {
        margin-top: 10px;
    }
}


/***** CONTACT - SLUT ********
******************************
******************************
******************************
******************************
*****************************/





/*****************************
******************************
******************************
******************************
******************************
**** FOOTER - START *********/


footer {
    height: auto;
    width: 100%;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 1400px;
}

footer .foot-column {
    flex-shrink: 1;
    flex-basis: 190px;
    padding: 20px;
    font-family:
        color: black;
    font-size: 1rem;
}

.footer_logo {
    width: 300px;
}

footer img {
    width: 30px;
}

footer a {
    color: black;
    text-decoration: none;
    color: #b3aca7;
}

a:hover {
    color: black;
}

@media only screen and (max-width: 650px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}


/**** FOOTER - START *********
******************************
******************************
******************************
******************************
*****************************/
