/******************************************
To Do:
- Margin og padding på alle sider.
- wrap-reverse på about siden.
******************************************/


/*****************************
******************************
******************************
******************************
******************************
**** GENERELT - START ********/
* {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}


/*************************/
/**** MARGIN & PADDING ***/
/*************************/

/****** Boxe *************/

.parent {
    padding-bottom: 40px;
}

.child,
.child_forside {
    padding: 50px 20px;
}

/****** Fonte ***********/

h1 {
    padding: 60px 0 40px;
}

h2 {
    padding-bottom: 15px;
}

/****** Individuelt *****/
/*FORSIDE*/

.instagram {
    padding: 40px 20px;
}

/*** GENERELT - SLUT *********
******************************
******************************
******************************















******************************
**** FONTE - START ***********/

h1 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 2rem;
}

h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 1.5rem;
}

h4 {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 1.5rem;
}

p {
    font-family: roboto;
}


/*** FONTE - SLUT ************
******************************
******************************
******************************
******************************
**** FLEX-BOX - START *******/







/*****************************
******************************
**** HEADER - START ***ØØ****/

header {
    background-color: #F5E8D7;
    padding: 12px 0px;
    max-width: 1400px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #643939;
    padding: 0px 12px;
    /*font-family: pt serif;*/
    font-family: roboto;
    line-height: 60px;
}

header a:hover {
    color: #D69F82;
}

#menu {
    max-width: 1200px;
    list-style-type: none;
    padding: 0;
}

.hidden {
    display: none;
    transform: translateX(-100%);
}


/********* burger *********/


#burgermenu {
/*    display: inline-block;*/
    max-width: 1200px;
    margin: 5px 10px;
}

#burgermenu img {
    height: 25px;
}

nav {
    /*    position: absolute;*/
    align-items: center;
    z-index: 100;
    background-color: #F5E8D7;
    opacity: 85%;
    width: 100vw;
}

nav li:first-child {
    padding-top: 20px;
}

nav li:last-child {
    padding-bottom: 20px;
}


/********* mediaquery *********/

@media (min-width: 1110px) {
    #burgermenu {
        display: none;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        position: static;
        background-color: #F5E8D7;
        opacity: 100%;
        width: 100%;
    }

    nav li:first-child {
        padding-top: 0;
    }

    nav li:last-child {
        padding-bottom: 0;
    }

    header a {
        font-size: 1em;
        line-height: normal;
    }
}


/*** HEADER - SLUT ***********
******************************
*****************************/



















/*****************************
******************************
******************************
******************************
******************************
**** FLEX-BOX - START *******/

.parent_forside,
.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex-grow: 1;
    flex-basis: 800px;
}

.parent:nth-child(1),
.parent:nth-child(3) {
    flex-wrap: wrap-reverse;
}

.parent_forside:nth-child(1) {
    flex-wrap: wrap-reverse;
}

@media (min-width: 600px) {
    .parent {
        display: flex;
        flex-wrap: wrap;
    }

    .child {
        flex-basis: 100px;
        flex-grow: 1;
    }

    .parent:nth-child(1),
    .parent:nth-child(3) {
        flex-wrap: wrap;
    }

    .parent_forside:nth-child(2) {
        flex-wrap: wrap;
    }

    .child {
        flex-basis: 100px;
        flex-grow: 1;
    }

    #forside .child_billede {
        flex-basis: 100px;
        flex-grow: 1;
        height: 700px
    }
}


/*** FLEX-BOX - SLUT *********
******************************
******************************
******************************
******************************
*****************************/











/*****************************
******************************
******************************
******************************
******************************
**** SPLASH - START **********/

/***********************************/
/**** placering af splash video ****/

.css_splash {
    height: 95vh;
    /*position: relative;*/
}

@media (min-width: 600px) {
    .css_splash {
        max-height: 100vh;
    }
}

.css_splash_video_container {
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.css_splash_video {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*.css_splash_video {
            /*position: relative;*/
/*padding-bottom: 56.25%;*/
/*padding-top: 30px;*/
/*height: 0;
        }*/



/***********************************/
/******** placering af spil ********/

.overlay {
    position: absolute;
    top: 80vh;
    left: 45%;
    width: 10%;
    height: 10%;
}

/*.overlay img {
            /*position: absolute;*/
/*left: 50vh;*/
/*top: 0;*/
/*width: 10%;
            height: 10%;*/
/*pointer-events: none;
        }*/


/* Animationen på pil */
.a-up-down {
    animation: k-up-down 1s infinite alternate;
}

@keyframes k-up-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}


/**** web ****/


/*.css_splash .usp-slider {
            display: none;
        }*/


/*.splash-logo {
            max-width: 140px;
            margin-bottom: 1.5rem;
        }*/


/*.css_backgroundcolor {
            padding: 4rem;
            text-align: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }*/

/*
        @media (min-width: 480px) {

        .splash-logo {
        max-width: 180px;

        }
        }

        @media (min-width: 700px) {

        .splash-logo {
        max-width: 240px;
        }
        }

        @media (min-width: 1200px) {
        .splash-logo {
        margin-bottom: 6rem;
        max-width: 360px;
        }
        }


/*** SPLASH - SLUT ***********
******************************
******************************
******************************
******************************
*****************************/










/*****************************
******************************
******************************
******************************
******************************
**** FORSIDE - START ********/



#forside .child {
    flex-basis: 100px;
    flex-grow: 1;
}

#forside .child_billede:nth-child(1) {
    background-image: url(img_video/forside_kroeller.jpg);
    background-size: cover;
}

#forside .child_billede:nth-child(2) {
    background-image: url(img_video/amal.jpg);
    background-size: cover;
}

#forside .child_billede {
    height: 400px;
    width: 100vw;
}

#forside .child:nth-child(2) {
    background-color: #c9cdc8;
}

#forside .child:nth-child(1) {
    background-color: #acb3b7;
}

.child_billede img {
    display: none;
}




/********** GRID ************/

.instagram {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "oeverst_venstre oeverst_hoejre"
        "nederst_venstre nederst_hoejre";
    grid-template-rows: 1fr;
}

.box1 {
    grid-area: oeverst_venstre;
}

.box2 {
    grid-area: oeverst_hoejre;
}

.box3 {
    grid-area: nederst_venstre;
}

.box4 {
    grid-area: nederst_hoejre;
}


/*** FORSIDE - SLUT **********
******************************
******************************
******************************
******************************
*****************************/










/*****************************
******************************
******************************
******************************
******************************
**** ABOUT - START **********/


#about .parent:nth-child(1) {
    background-color: antiquewhite;
}

#about .parent:nth-child(3) {
    background-color: beige;
}


/*** ABOUT - SLUT ************
******************************
******************************
******************************
******************************
*****************************/









/*****************************
******************************
******************************
******************************
******************************
**** RETAILERS - START *******/


/*** RETAILERS - SLUT ********
******************************
******************************
******************************
******************************
*****************************/




/*****************************
******************************
******************************
******************************
******************************
**** RETAILERS - START *******/





/*** ABOUT - SLUT ************
******************************
******************************
******************************
******************************
*****************************/







/* WEB VERSION */

@media (min-width:600px) {



    #forside .child_billede {

        height: 700px
    }

    .instagram {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "venstre midt_v midt_h hoejre";
        grid-template-rows: 1fr;
        padding: 120px 20px 20px;
    }

    .box1 {
        grid-area: venstre;
    }

    .box2 {
        grid-area: midt_v;
    }

    .box3 {
        grid-area: midt_h;
    }

    .box4 {
        grid-area: hoejre;
    }
}
